.mt130 {
  margin: 130px 0px 0px 0px;
}
.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.e-c {
  background-color: #fcfaf8;
  border-radius: 8px;
}
.e-l-nav {
  width: 236px;
  min-height: 100px;
  margin-right: 30px;
  padding: 50px 0 50px 0;
}
.e-l-nav .mini-ell {
  font-size: 18px!important;
}
.e-l-nav .mini-ell.on {
  color: #f65131;
  border-left: 4px solid transparent!important;
}
.e-l-nav .e-l-li {
  padding: 18px 0px 18px 0px;
  font-size: 24px;
  border-left: 4px solid transparent;
  display: block;
  color: #2c3035;
  cursor: pointer;
  padding-left: 65px;
}
.e-l-nav .e-l-li.on {
  color: #f65131;
  border-left: 4px solid #f65131;
}
.e-r-content {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.e-r-content .e-r-title {
  height: 50px;
  font-size: 24px;
  border-bottom: 1px solid rgba(180, 180, 180, 0.4);
  padding-left: 26px;
  line-height: 50px;
}
.e-rr-title {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 16px;
}
.e-rr-title span {
  cursor: pointer;
  margin-left: 15px;
}
.e-rr-title span:hover {
  text-decoration: underline;
}
.e-rr-title .on {
  color: #f65131;
  cursor: default!important;
  text-decoration: none!important;
}
.e-r-box {
  margin: 45px 0px 0px 0px;
  padding-bottom: 50px;
}
.max-left {
  display: block;
  width: 170px;
  text-align: right;
  margin-right: 20px;
  line-height: 46px;
  font-size: 18px;
}
.max-right {
  width: 420px;
  font-size: 18px;
}
.input-box-max {
  line-height: 46px;
  font-size: 18px;
  margin-bottom: 25px;
}
.max-sug {
  color: #f65131;
  font-size: 14px;
  position: absolute;
  bottom: -20px;
  left: 0px;
  line-height: 14px;
}
.input-max {
  width: 100%;
  height: 46px;
  padding: 0 10px;
  border-radius: 4px;
  border: 1px solid #dbd9d8;
  color: rgba(21, 23, 24, 0.8);
  font-size: 18px;
  -webkit-transition: all ease 0.5s;
     -moz-transition: all ease 0.5s;
          transition: all ease 0.5s;
}
.input-max:focus {
  border: 1px solid #f65131;
}
.max-code {
  width: 250px;
  height: 46px;
  padding: 0 10px;
  border-radius: 4px;
  border: 1px solid #dbd9d8;
  color: rgba(21, 23, 24, 0.8);
  font-size: 18px;
  -webkit-transition: all ease 0.5s;
     -moz-transition: all ease 0.5s;
          transition: all ease 0.5s;
  float: left;
  margin-right: 4px;
}
.max-code:focus {
  border: 1px solid #f65131;
}
.max-code-btn {
  width: 163px;
  height: 46px;
  background-color: #f65131;
  text-align: center;
  border-radius: 4px;
  line-height: 46px;
  color: #fff;
  cursor: pointer;
  border: 1px solid transparent;
  opacity: 1;
  display: inline-block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 18px;
  -webkit-transition: all ease 0.3s;
     -moz-transition: all ease 0.3s;
          transition: all ease 0.3s;
}
.max-code-btn:hover {
  opacity: .8;
}
.max-code-btn:active {
  background-color: #b73c26;
}
.code-disabled {
  width: 163px;
  height: 46px;
  background-color: #f65131;
  text-align: center;
  border-radius: 4px;
  line-height: 46px;
  color: #fff;
  border: 1px solid transparent;
  opacity: .5;
  cursor: default;
  display: inline-block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.save-btn {
  width: 130px;
  height: 46px;
  background-color: #f65131;
  text-align: center;
  border-radius: 66px;
  line-height: 46px;
  color: #fff;
  cursor: pointer;
  border: 1px solid transparent;
  opacity: 1;
  display: inline-block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 18px;
  -webkit-transition: all ease 0.3s;
     -moz-transition: all ease 0.3s;
          transition: all ease 0.3s;
}
.save-btn:hover {
  opacity: .8;
}
.save-btn:active {
  background-color: #b73c26;
}
.save-disabled {
  width: 130px;
  height: 46px;
  background-color: #f65131;
  text-align: center;
  border-radius: 66px;
  line-height: 46px;
  color: #fff;
  border: 1px solid transparent;
  opacity: .5;
  cursor: default;
  display: inline-block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.select-province2,
.select-city2 {
  width: 207px !important;
  height: 46px !important;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  position: relative;
  display: inline-block;
  background-color: #fff !important;
}
.select-province2:after,
.select-city2:after {
  content: "\e614";
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: 10px;
  right: 10px;
  color: #9e9e9e;
  line-height: 24px;
}
.select-province2 select,
.select-city2 select {
  background-color: #fff!important;
}
.select-province2 {
  margin-right: 0px;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #dbd9d8;
  color: rgba(21, 23, 24, 0.8);
  line-height: 1;
  outline: 0;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  background-color: #fff;
  padding-left: 10px;
}
select option {
  font: 400 12px/1.3 "Helvetica Neue", sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  line-height: 1;
  outline: 0;
  color: rgba(21, 23, 24, 0.8);
  background-color: #eee;
  border: 1px solid #eee;
  padding-left: 10px;
}
.upload {
  width: 130px;
  height: 130px;
  position: relative;
  border-radius: 888px;
  text-align: center;
  margin: 0 auto;
  -webkit-transition: all ease 1s;
     -moz-transition: all ease 1s;
          transition: all ease 1s;
}
.upload img {
  width: 100%;
  height: 100%;
  border-radius: 888px;
}
.upload input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 888px;
  cursor: pointer;
  opacity: 0;
  z-index: 1;
}
.upload:hover .hover-upload {
  opacity: 1;
}
.hover-upload {
  opacity: 0;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 888px;
  line-height: 130px;
  cursor: pointer;
  background: -webkit-linear-gradient(top, rgba(254, 54, 54, 0.6) 50%, rgba(235, 157, 55, 0.61));
  background: -moz-linear-gradient(top, rgba(254, 54, 54, 0.6) 50%, rgba(235, 157, 55, 0.61));
  background: linear-gradient(top, rgba(254, 54, 54, 0.6) 50%, rgba(235, 157, 55, 0.61));
  -webkit-transition: all ease 1s;
     -moz-transition: all ease 1s;
          transition: all ease 1s;
}
.hover-upload i {
  font-size: 40px;
  color: #ffffff;
}
.expert-card {
  padding: 40px 50px;
}
.expert-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.expert-info .expert-img {
  width: 130px;
  height: 130px;
  border-radius: 666px;
}
.expert-info .expert-img img {
  width: 100%;
  height: auto;
  border-radius: 666px;
}
.expert-info .expert-intro {
  margin-left: 30px;
}
.flex-str {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
     -moz-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.flex-str .ei1 {
  border-right: 1px solid rgba(180, 180, 180, 0.4);
}
.flex-str .ei2 {
  margin-top: 20px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.time {
  color: rgba(95, 99, 102, 0.5);
  font-size: 14px;
  margin-top: 10px;
}
.circle {
  background-color: #f65131;
  border-radius: 9999px;
  width: 23px;
  height: 23px;
  display: inline-block;
  font-size: 16px;
  text-align: center;
  line-height: 23px;
  position: absolute;
  top: 6px;
  left: 105px;
  color: #fff;
}
.model-line2 {
  width: 90%;
  height: 100%;
  margin: 50px auto;
}
.model-line2 span {
  font-size: 18px;
  color: rgba(44, 48, 53, 0.4);
  padding: 0 20px;
}
.model-line2:after {
  content: "";
  top: 12px;
}
.tag {
  background: -webkit-linear-gradient(top, #fe3636 50%, #eb9d37);
  background: -moz-linear-gradient(top, #fe3636 50%, #eb9d37);
  background: linear-gradient(top, #fe3636 50%, #eb9d37);
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  vertical-align: text-bottom;
  display: inline-block;
  padding: 0px 8px;
  color: #fff;
  border-radius: 15px 0 15px 15px;
  margin-right: 15px;
}
h1 {
  font-size: 24px;
  color: #151718;
}
h3 {
  font-size: 18px;
}
.bold {
  font-weight: bold;
}
.blue {
  color: #28abe3;
}
.alter {
  cursor: pointer;
}
.mb30 {
  margin-bottom: 30px;
}
.mt16 {
  margin-top: 16px;
}
.col-4 {
  width: 25%;
  float: left;
}
.f24 {
  font-size: 24px;
  color: #2c3035;
}
.f18 {
  font-size: 18px!important;
}
.pd25 {
  padding: 25px 0px 25px 0px;
}
.pdd35 {
  padding: 35px 50px 35px 55px;
}
.pdd55 {
  padding: 35px 70px 35px 55px;
}
.ml30 {
  margin-left: 30px;
}
.just {
  text-align: justify;
}
.mtb40 {
  margin: 40px 0;
}
.see-more a {
  color: #28abe3;
  cursor: pointer;
}
.see-more {
  text-align: center;
}
.blue-btn {
  width: 126px;
  height: 50px;
  background-color: #28abe3;
  text-align: center;
  border-radius: 9999px;
  line-height: 50px;
  color: #fff;
  cursor: pointer;
  border: 1px solid translate;
  opacity: 1;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all ease 0.2s;
     -moz-transition: all ease 0.2s;
          transition: all ease 0.2s;
}
.blue-btn:hover {
  background-color: #1c9ed6;
}
.blue-btn:active {
  background-color: #1a94c8;
}
.white-btn {
  width: 126px;
  height: 50px;
  background-color: #fcfaf8;
  text-align: center;
  border-radius: 9999px;
  line-height: 50px;
  color: #2c3035;
  cursor: pointer;
  border: 1px solid #2c3035;
  opacity: 1;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all ease 0.2s;
     -moz-transition: all ease 0.2s;
          transition: all ease 0.2s;
}
.white-btn:hover {
  border: 1px solid #f65131;
  color: #f65131;
}
.white-btn:active {
  background-color: #fcfaf8;
}
.btn-pos {
  position: absolute;
  top: 70px;
  right: 30px;
}
.heart {
  position: absolute;
  width: 54px;
  height: 54px;
  line-height: 54px;
  right: 0;
  top: 73px;
  background-color: #f65131;
  text-align: center;
  color: #fff;
}
.heart i {
  font-size: 35px;
}
.s-wei {
  width: 135px;
  height: 135px;
  border-radius: 8px;
}
.s-wei img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.flex1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.time-fix {
  position: absolute;
  top: 50px;
  right: 50px;
}
