
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1474880972'); /* IE9*/
  src: url('iconfont.eot?t=1474880972#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1474880972') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1474880972') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1474880972#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-search:before { content: "\e660"; }
.icon-star:before { content: "\e8b9"; }
.icon-chat:before { content: "\e601"; }
.icon-phone:before { content: "\e737"; }
.icon-weibo:before { content: "\e612"; }
.icon-right:before { content: "\e602"; }
.icon-right1:before { content: "\e613"; }
.icon-jia:before { content: "\e782"; }
.icon-down:before { content: "\e614"; }
.icon-down1:before { content: "\e609"; }
.icon-shangjiantou:before { content: "\e604"; }
.icon-delete:before { content: "\e9e8"; }
.icon-heart:before { content: "\e605"; }
.icon-mail:before { content: "\e627"; }
.icon-chacha:before { content: "\e62e"; }
.icon-loading:before { content: "\e60a"; }
