.mt {
    margin: 116px 0 50px 0;
    background-color: #fcfaf8;
}
.regis-box {
    width: 290px;
    margin: 0px auto 0 auto;
    padding: 50px 0;

    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.fc {
    background-color: #fcfaf8!important;
}
.input-text-2 {
    background-color: #fcfaf8;
}
.input-text-2:focus {
    background-color: #fff;
}

.input-box .input-text {
    height: 40px;
    width: 100%;
    border: 1px solid #dbd9d8;
    border-radius: 4px;
    padding: 0 10px;
    color: rgba(21, 23, 24, .8);
    font-size: 14px;
}

.input-box .input-text:focus {
    border: 1px solid rgba(246, 81, 49, 0.51);
}

.input-box .left-input {
    width: 146px;
}

.input-box .right-button {
    float: right;
    width: 126px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    background-color: #f65131;
    cursor: pointer;
    border-radius: 4px;

    opacity: .8;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.input-box .right-button:hover {
    opacity: 1;
}

.input-box .right-button:active {
    -webkit-transform: scale(.99);
    -moz-transform: scale(.99);
    -ms-transform: scale(.99);
    transform: scale(.99);
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.input-box .right-button-disabled {
    cursor: default;

    opacity: .6;
}

.input-box .right-button-disabled:hover {
    opacity: .6;
}

.input-box .right-button-disabled:active {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.input-agreement {
    margin-top: -11px;
    margin-bottom: 24px;
}
.agreement {
    color: #28abe3;
    vertical-align: middle;
    margin-left: -5px;
}